body{
    background-color: rgb(175, 228, 31);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    text-align: center;
    margin: 20px 0;
}
.textLeft{
    text-align: left;
    margin-left: 10px;
}
.card{
    width: 450px;
    border-radius: 10px;
    background-color: rgb(248, 241, 241);
    border: none;
    margin: auto;
}
.image{
    min-width: 155px;
    margin-right: 20px;
}
.stats{
    background: white!important;
    color:black;
}
.articles{
    font-size: 20px;
    color: #a1aab9;
    
}
.number1{
    font-weight: 500;
}
.followers{
    font-size: 10px;
}
.number2{
    font-weight: 500;
}
.rating{ 
    font-size: 500;
    color: #a1aab9;
}
.number3{
    font-weight: 500;
}
.jam{
    margin:20px;
    justify-content: space-between;
    display: flex;
}
